.drinks {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(70, 70, 70);
  /* border: 1PX solid black; */
  text-align: center;
  position: relative;
  padding: 5px;
  margin: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.infoContainer {
  text-align: center;
  width: 500px;
  /* border: 1px solid black; */
  box-shadow: 5px 2px 15px #d2d1d1;
}

.drinkPhoto {
  /* border: 1px solid #ccc; */
  padding: 5px;
  margin: 20px;
  box-shadow: 5px 2px 15px #d2d1d1;
}

.basicInfo {
  padding: 10px;
  margin: 10px 45px 30px 45px;
  /* border: 1px solid black; */
  box-shadow: 5px 2px 15px #d2d1d1;
}

.btn {
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  border: 1px solid #293A57;
  border-radius: 5%;
  background-color: white;
  color: #293A57;
  padding: 10px 28px;
  font-size: 16px;
  font-weight: bolder;
}

.btn:hover{
  background-color: #293A57;
  color: white;
}

.home {
  margin-top: 25px;
}

/* .fa_glass {
  width: 100px;
  height: 100px;
} */

