.drinks {
  border: 1PX solid black;
  text-align: center;
  position: relative;
  padding: 5px;
  margin: 35px;
}

.infoContainer {
  border: 1px solid black;
}

.drinkUrl {
  border: 1px solid black;
}

.basicInfo {
  border: 1px solid black;
}

.homeLink {
  border: 1px solid black;
}