.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr ;
  gap: 5vh 5vh;
  justify-self: center;
  margin: 10vh;
  width: auto;
  border-radius: 50%;
  flex-wrap: wrap;
}
.cards:hover {
    top: -10px;
}

.cards_text {
    color: white;
    position: relative;
    bottom: 50%;
    left: 60%;
    transform: translate(-50%, -100%);
    
  }

.Food{
    display: grid;
    
}