a{
 text-decoration:none; 
}
.cards{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    gap: 10vh, 10vh;
    margin: 5vh;
    
    }



a:hover {
    top: -10px;
}
.card_img {
  width: 50vh;
  height: 50vh;
}
.cards_text {
  background: rgb(186,186,186);
  background: linear-gradient(104deg, #293A57, rgba(0,0,0,1) 76%);
    color: white;
    position: relative;
    bottom: 5%;  
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: #293A57;
    
  }



