.cards{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    gap: 10vh, 10vh;
    margin: 5vh;
    }



a:hover {
    top: -10px;
}
img{
  width: 50vh;
  height: 50vh;
}
.cards_text {
    background-color: black;
    color: white;
    position: relative;
    bottom: 90%;  
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

.Food{
    display: grid;
    
}


