.body {
    background-color: rgba(0,0,0,0.05);
    background-color: #293A57;
    /* border: 1px solid black; */
    box-shadow: 5px 2px 15px #d2d1d1;
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    
}

.title {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 8px;
    color: #D8AD69;
    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    gap: 10vh, 10vh;
    margin: 5vh;
    background-color: #D8AD69;
    height: 80%;
}

.link {
    text-decoration: none;
    color: black;
}

.imgContainer {
   display: flex;
   
    
}

.homeImg {
    
    width: 22vh;
    height: 22vh;
    border-radius: 50%;
}

.group {
    text-align: center;
}