.navbarHeader {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: #293A57;
    height: 50px;
}

.navbarNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem {
    color: white;
    margin: 15px 15px;
    padding: 2px 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.navItem:hover {
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    
}