.footerNav {
    display: flex;
    justify-content: center;
    
}

.FooterItem {
    color: white;
    margin: 10px 15px;
    padding: 2px 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

footer{
    background-color: black;
}