.choice {
  padding: 10px 50px;
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
  border: 2px solid black;
  border-radius: 0;
  position: absolute;
  top: 50px;
  left: 0%;
  z-index: 10;
}